<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="complementos/js/privilegios.js"></script>
    <link rel="stylesheet" href="librerias/css/iconos.css">
    <link rel="stylesheet" href="librerias/css/materialize.css"  media="screen,projection"/>
    <link rel="stylesheet" href="complementos/css/general.css">
    <link rel="icon" type="image/png" href="img/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>  
    <title>Space | perfil</title>
  </head>


<body>

  <!-- navbar -->
  <div id="navbarvue">
    <navbar-vista></navbar-vista>
  </div>

     <nav>
        <div class="nav-wrapper indigo darken-2">
          <a style="margin-left: 20px;" class="breadcrumb" href="configuracion.html">configuracion</a>
          <a class="breadcrumb" href="#!">perfil</a>
    
          <div style="margin-right: 20px;" id="timestamp" class="right"></div>
        </div>
      </nav>


    <div class="valign-wrapper row login-box mr-2" id="app">
        <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
          <form v-on:submit.prevent>
            <div class="card-content">
              <span class="card-title">Actualizar perfil Administrador <i class="Medium material-icons rotate" style="font-size: 30px;">settings</i></span>
              <div class="row">
                <div class="input-field col s12">
                  <label for="usuario">usuario</label>
                  <input type="text" class="validate" name="usuario" id="usuario" v-model="usuario"/>
                </div>
                <div class="input-field col s12">
                  <label for="email">correo</label>
                  <input type="email" class="validate" name="email" id="email" v-model="correo"/>
                </div>
                <div class="input-field col s12">
                  <label for="rango">rango</label>
                  <input type="text" class="validate " name="rango" id="rango" v-model="rango" disabled/>
                </div>
                <div class="input-field col s12">
                  <label for="contrasena">contraseña </label>
                  <input type="password" class="validate" name="contrasena" id="contrasena" v-model="contrasena" />
                </div>
                <div class="input-field col s12">
                    <label for="contrasena2">repetir contraseña </label>
                    <input type="password" class="validate" name="contrasena2" id="contrasena2" v-model="contrasena2" />
                  </div>
                  <div class="input-field col s12">
                    <div class="container" v-html="respuesta">
                      
                    </div>        
                  </div>
              </div>
            </div>
            <div class="card-action right-align">
              <input type="reset" id="" class="btn-flat grey-text waves-effect" value="VACIAR CAMPOS">
              <a type="submit" class="btn indigo waves-effect waves-light" value="ACTUALIZAR" @click="actualizarPerfil">ACTUALIZAR <i class="Medium material-icons right">send</i></a>
            </div>
          </form>
        </div>
      </div>


      
  <!--boton flotante -->
  <div id="boton-v">
    <boton-flotante></boton-flotante>
  </div>
 
      
 <!-- Footer -->
 <div id="footer-v">
  <footer-vista></footer-vista>
 </div>
  

  <script src="librerias/js/materialize.js"></script>
  <script src="librerias/vue.js"></script>
  <script src="librerias/axios.js"></script>
  
  <script src="complementos/js/general.js"></script>
  <script src="complementos/js/componentes.js"></script>

  <script>
    const root = new Vue({
    el: '#app',
    data: {
      id: '',
      usuario: '',
      correo: '',
      rango: '',
      contrasena: '',
      contrasena2: '',

      respuesta: ''
    }, 
    created(){
      this.id = localStorage.id
      this.usuario = localStorage.usuario
      this.correo = localStorage.correo
      this.rango = localStorage.rango
    },
    methods:{
      actualizarPerfil(){
        var datos = new FormData();
        datos.append('solicitud','actualizarPerfil');
        datos.append('id',root.id);
        datos.append('usuario',root.usuario);
        datos.append('correo',root.correo);
        datos.append('rango',root.rango);
        datos.append('contrasena',root.contrasena);
        datos.append('contrasena2',root.contrasena2);
        
            axios.post('funciones/apiConfiguracion.php', datos)
             .then(response => {
            var evaluar = response.data.codigo

            switch (evaluar) {          
                case 0:
                root.respuesta = '<div class="chip chip_message_alert">las contraseñas no coinciden<i class="close material-icons">close</i></div>'
                break;
                case 1:
                root.respuesta = '<div class="chip chip_message_info">actualizado con exito<i class="close material-icons">close</i></div>'
                break;
                case 2:
                root.respuesta = '<div class="chip chip_message_warning">usuario o correo ya registrado<i class="close material-icons">close</i></div>'
                break;  
            }
            
                root.contrasena = ''
                root.contrasena2 = '' 
                setTimeout(function () {
                  root.respuesta = ''
                }, 2500);
             });
      }
    }
  });

  </script>

  

</body>

</html>