 <!DOCTYPE html>
 <html>

 <head>
   <meta charset="utf-8">
   <script src="complementos/js/privilegios.js"></script>
   <link rel="stylesheet" href="librerias/css/iconos.css">
   <link rel="stylesheet" href="librerias/css/materialize.css" media="screen,projection" />
   <link rel="stylesheet" href="complementos/css/general.css">
   <link rel="icon" type="image/png" href="img/logo.png" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>Space | preguntas</title>
 </head>

 <body>


  <!-- navbar -->
  <div id="navbarvue">
    <navbar-vista></navbar-vista>
  </div>

   <section class="container center-align">
     <h4>PREGUNTAS</h4>
   </section>

   <div class="row" id="cargaralmacen">
     <h2 class="center-align" v-show="sindatos">no hay preguntas registradas<i
      class=" material-icons" style="font-size: 60px;">sentiment_very_dissatisfied</i></h2>
     <p class="center-align"><button class="waves-effect green btn-small" @click="actualizar()">actualizar<i
      class="material-icons right rotate">data_usage</i></button></p>
 
     <div class="col s12 m3" v-for="(item, index) in datos" v-bind:key="item.id" v-bind:my="item">
       <!-- inicio ciclo for -->
       <div class="card grey darken-3" style="height:350px;">
         <div class="card-content white-text">
           <span class="card-title center-align">{{item.titulo}}</span>
           <span class="center-align">pregunta: {{item.pregunta}}</span>
           <br>
           <hr>
           <p class="blue-text text-lighten-1">datos de usuario</p>
           <p class="">nombres: {{item.nombre}}</p>
           <p class="">correo: {{item.correo}}</p>
           <p class="">pregunta #{{index}}</p>
           <div class="input-field">
             <a class="waves-effect green btn-small modal-trigger" @click="responder(item)" data-target="modal1">responder <i
                 class="material-icons right">border_color</i></a>
           </div>
         </div>
         <div class="card-action center-align ">
           <a @click="eliminar(item.id)"><i class="material-icons red-text small">delete</i></a>
         </div>
       </div>

     </div><!-- cierre del ciclo for -->

     <!--modal oculto-->

     <div id="modal1" class="modal" style="width:400px;">
       <div class="modal-content">
         <h4 class="center-align">pregunta</h4>
         <textarea class="materialize-textarea" v-model="objeto.pregunta"></textarea>
         <textarea id="textarea2" class="materialize-textarea" v-model="objeto.respuesta" maxlength="102"></textarea>
         <label for="textarea2">RESPUESTA <i class="material-icons tiny">border_color</i></label>
         <p>{{objeto.nombre}}</p>
       </div>
       <div class="modal-footer">
         <a class="waves-effect grey btn-small modal-close">cancelar <i class="material-icons right">cancel</i></a>
         <a class="waves-effect green btn-small modal-close" @click="enviarRespuesta()">responder <i class="material-icons right">send</i></a>
       </div>
     </div>

     <!-- fin modal oculto-->

   </div>
   <!--fin instancia de Vue-->

 
   
   <!--boton flotante -->
  <div id="boton-v">
    <boton-flotante></boton-flotante>
  </div>


   <!-- Footer -->
  <div id="footer-v">
    <footer-vista></footer-vista>
  </div>

   <script src="librerias/js/materialize.js"></script>
   <script src="librerias/vue.js"></script>
   <script src="librerias/axios.js"></script>

   <script src="complementos/js/general.js"></script>
   <script src="complementos/js/componentes.js"></script>

   <script type="text/javascript">
   
   document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems, options);
  });

     var root = new Vue({
       el: '#cargaralmacen',
       data: {
         datos: [],
         // visualmodal: false,
         objeto: {
           pregunta: '',
           respuesta: '',
           id: '',
           nombre: ''
         },
         sindatos: false

       },
       updated(){
         if (this.datos == '') {
           this.sindatos = true
         }
       },
       mounted: function () {
        this.actualizar();
       },
       methods: {
         responder(item) {
           this.objeto.pregunta = item.pregunta
           this.objeto.nombre = item.nombre
           this.objeto.id = item.id
         },
         enviarRespuesta() {
           let datos = this.FormData(this.objeto);
           axios.post('funciones/enviarRespuesta.php', (datos));
           root.objeto.respuesta = ''
        
           var id = root.objeto.id
           var index = root.datos.indexOf(id)
            root.datos.splice(index, 1);
         },
         eliminar: function (item) {
           var datos = new FormData();
           datos.append("id", item);
           axios.post('funciones/eliminarPregunta.php', (datos)).then(response => {
             let = index = root.datos.indexOf(item)
             root.datos.splice(index, 1);
           });

         },
         actualizar() {
           axios.get('funciones/cargarPreguntas.php').then(response => {
            root.datos = response.data.preguntas
             if (response.data == 0) {
              root.sindatos = true
             } else {
              root.sindatos = ''
             }
           });

         },
         quitarElemento(id) {
           this.datos.splice(index, 1);
         },
         FormData(obj) {
           let formData = new FormData();
           for (let key in obj) {
             formData.append(key, obj[key]);
           }
           return formData;
         }

       }

     }); //intancia
   </script>

 </body>

 </html>